@model ShoppingCart

<form method="post"  class="mt-6 pt-4">
    <input hidden asp-for="ProductId" />

    <div class="col-lg-12 col-xl-10  container pt-4 " id="obox">
        <div id="box" class="">
            <div class=" d-flex justify-content-center px-0 col-12 col-lg-6 ">
                <img src="@Model.Product.ImageUrl" id="img" />
            </div>
            <div class=" col-12 col-lg-6 row" id="inbox">
                <div class="bg text ml-0 row">
                    <div class="col-6 col-lg-6">
                        <h1 class="text">@Model.Product.Title</h1>
                        <p class="text-warning">by @Model.Product.Author</p>
                    </div>
                    <div class="col-6 col-lg-6 pt-2 text-end ">
                        <span class="badge bg-info pt-2" style="height:30px;">@Model.Product.CoverType.Name</span>
                        <span class="badge bg-warning pt-2" style="height:30px;">@Model.Product.Category.Name</span>
                        <div class="row pl-2 pt-2">
                            <h5 class="text-muted">ISBN : @Model.Product.ISBN</h5>
                        </div>
                    </div>
                </div>
                <div class=" row col-12 col-lg-12">
                    <div class ="pb-2 pl-2 ">
                      <div class="  py-0 my-0 d-flex" style="height:20px;">
                        <h5 class="text text-danger">-@Model.Product.DiscountPercent%</h5>
                        <h5 class="text px-1 ">@Model.Product.Price.ToString("c")</h5>
                      </div>
                        <small><small class="text-muted px-2 ">was:<strike>@Model.Product.ListPrice.ToString("c")</strike></small></small>
                    </div>


                    <div class="row pl-2" style="height:100px;">
                        <h5>About item</h5>
                        <p class="text-secondary">@Html.Raw(Model.Product.Description)</p>
                    </div>
                                
                    <div class="row pl-2 pt-4">
                        <div class="col-2 text-primary "><h4>Count</h4></div>
                        <div class="col-4 mx-5 "><input asp-for="Count" class="form-control" /></div>
                    </div>
                </div>
                   <div class="row pt-4 ">
                    <div class="col-6 col-lg-6 pb-1 ">
                        <a class="btn text-light bg-black form-control " style="height:50px; padding-top:11px; " asp-action="Index">Back to Home</a>
                        </div>
                    <div class="col-6 col-lg-6 pb-1">
                        <button type="submit" value="Add to Cart" class="btn text-light form-control" style="background-color:#65C26F; height:50px;">Add to Cart</button>
                        </div>
                   </div>
            </div>
        </div>

    </div>

</form>