@model Models.ViewModels.ShoppingCartVM

<form method="post">
	<div id="component" class="container-fluid py-3">
		<p class="text-center text-dark fs-4 fw-medium font-family-Poppins  m-0 px-3 py-1">
			Your cart items
		</p>
	</div>
	<div id="component" class="container-fluid mb-3">
		<p class="text-center text-teal fs-6 fw-normal font-family-Roboto text-decoration-underline  m-0 px-3 ">
			<a asp-area="Customer" asp-controller="Home" asp-action="Index" style="color:black;" >
				Continue Shopping
			</a>
		</p>
	</div>
	<div class="row justify-content-center container " id="box">
		<div class="card col-12 col-md-8 mt-1 mx-1" style="border-radius: 20px;">
			<div class="card-header align-content-center row bg-light" style=" border-radius: 20px; height:50px; ">
					<div class="  text-dark font-family-Poppins ">
						Shopping Cart
					</div>
			</div>
			<br />

			<div class="card-body">
				@foreach(var item in Model.ListCart){
				<div class="row d-flex">
					<div class="d-none d-lg-block col-lg-2 text-center py-1">
						<img src="@item.Product.ImageUrl" class="rounded"  width="100%"  />
					</div>
					<div class="col-12 col-lg-6 pt-md-3">
						<h5><strong>@item.Product.Title</strong></h5>
						<p><small>@Html.Raw(item.Product.Description)</small></p>
					</div>
					<div class="col-12  col-lg-4 text-center row">
						<div class="col-6 text-md-right pt-4">
							<h6><strong>$@item.Product.Price
								<span class="text-muted">&nbsp;x&nbsp;</span>@item.Count </strong></h6>
						</div>
						<div class="d-flex col-4 col-sm-4 col-lg-6 pt-3">
							<div class="w-75 btn-group" role="group">
									<a asp-action="plus" asp-route-cartId="@item.Id" class="btn d-flex align-content-center justify-content-center " style="width:20px;height:20px;">
									<i class="bi bi-plus-square"></i>
								    </a> &nbsp;
									<a asp-action="minus" asp-route-cartId="@item.Id" class="btn d-flex align-content-center justify-content-center " style="width:20px;height:20px;">
									<i class="bi bi-dash-square"></i>
								</a>
							</div>
								<div class="w-25">
								<a asp-action="remove" asp-route-cartId="@item.Id" style="width:20px;height:20px;" class="btn d-flex align-content-center justify-content-center ">
									<i class="bi bi-trash-fill"></i>
								</a>
							</div>
						</div>
						
					</div>
				</div>
				<hr />
				}

			</div>


		</div>

		<div class="card col-12 col-md-3 mt-1 mx-1 align-content-between" style="border-radius: 20px; height:300px; ">
			<div class="card-header align-content-center row bg-light" style="border-radius: 20px; height:50px; ">
				<div class=" text-dark font-family-Poppins">
					Order Summary
				</div>
			</div>
			<div class=" card px-2 my-2" style="border-radius:20px;height:175px;">
				<div class="pt-4">
					Total List Items Value: <strong class="">@Model.ListPriceTotal.ToString("c")</strong>
				</div>	<br />
				<div>
					Total Discount: -<strong class="">@Model.DiscountTotal.ToString("c")</strong>
				</div>	<br />
				<div>
					<span class="text-info" style="border-radius: 20px;"> Total (USD): </span>
					<strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
				</div>
			</div>

			<a asp-action="PlaceOrder" class="btn form-control col-8 text-light " style=" background-color:#65C26F; border-radius: 20px;">
				Proceed to Checkout
			</a>
		</div>
	</div>
</form>
