@model Models.ViewModels.OrderVM
@using Utility

<form method="post">
	<input asp-for="OrderHeader.Id" hidden />
	<br />

	<div class="container row justify-content-center ">
		<div class="card col-12 col-lg-6 " style="border-radius: 20px;">
				<div class="card-header align-content-center row bg-light" style="border-radius: 20px; height:50px; ">
					<div class="col-8 pt-1 text-dark font-family-Poppins">
						PickUp Details
					</div>
					<div class="col-4 text-end">
						<a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
					</div>

				</div>
			<div class="card-body">
				<div class="container justify-content-center pb-4 row rounded p-2">
							<div class="row my-1">
								<div class="col-4">Name</div>
								<div class="col-8">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="OrderHeader.Name" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.Name" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">Phone</div>
								<div class="col-8">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.PhoneNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">Address</div>
								<div class="col-8">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.StreetAddress" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">City</div>
								<div class="col-8">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="OrderHeader.City" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.City" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.City" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">State</div>
								<div class="col-8">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="OrderHeader.State" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.State" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.State" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">Zip Code</div>
								<div class="col-8">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.PostalCode" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">Email</div>
								<div class="col-8">
									<input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">Order Date</div>
								<div class="col-8">

									<input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />

								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">Carrier</div>
								<div class="col-8">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="OrderHeader.Carrier" id="carrier" type="text" class="form-control" />
									}
									else
									{
										<input asp-for="OrderHeader.Carrier" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">Tracking</div>
								<div class="col-8">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="OrderHeader.TrackingNumber" id="trackingNumber" type="text" class="form-control" />
									}
									else
									{
										<input asp-for="OrderHeader.TrackingNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-4">Shipping Date</div>
								<div class="col-8">
									<input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" type="text" readonly class="form-control" />
								</div>
							</div>
							@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
							{
								<div class="row my-1">
									<div class="col-4">Session ID</div>
									<div class="col-8">
										<input asp-for="OrderHeader.SessionId" type="text" readonly class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-4">Payment Intent ID</div>
									<div class="col-8">
										<input asp-for="OrderHeader.PaymentIntentId" type="text" readonly class="form-control" />
									</div>
								</div>
							}
							<div class="row my-1">
								@if (Model.OrderHeader.SessionId == null)
								{
									<div class="col-4">Payment Due Date</div>
									<div class="col-8">
										<input value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()"
										   readonly type="text" class="form-control" />
									</div>
								}
								else
								{
									<div class="col-4">Payment Date</div>
									<div class="col-8">
										<input value="@Model.OrderHeader.PaymentDate.ToShortDateString()"
										   readonly id="paymentDate" type="text" class="form-control" />
									</div>
								}
							</div>
							<div class="row my-1">
								<div class="col-4">Payment Status</div>
								<div class="col-8">
									<input asp-for="OrderHeader.PaymentStatus" type="text" readonly class="form-control" />
								</div>
							</div>
							<div class="row pt-2 col-9 justify-content-end">
							    <input type="submit" asp-action="UpdateOrderDetail" class=" btn text-light form-control my-1" value="Update Order Details" style="border-radius: 20px; background-color:#65C26F;" />
					     	</div>
							

						</div>
			</div>
		</div>
		<div class="card col-12 col-lg-3 mx-1 align-content-between" style="border-radius: 20px;">
			<div class="card-header align-content-center row bg-light" style="border-radius: 20px; height:50px; ">
				<div class=" text-dark font-family-Poppins">
					Order Summary
				</div>
			</div>
			<div class="">

				<label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderHeader.OrderStatus</label>

				<ul class="list-group mb-3">
					@foreach (var detail in Model.OrderDetail)
					{
						<li class="list-group-item d-flex justify-content-between p-2">
							<div class="row container">
								<div class="col-7">

									<h6 class="my-0 text-primary">@detail.Product.Title</h6>
									<small class="text-muted">Price : @detail.Price.ToString("c")</small><br />
									<small class="text-muted">Quantity : @detail.Count</small>
								</div>
								<div class="col-5 text-end">
									<p class="text-success">@((detail.Count * detail.Price).ToString("c"))</p>
								</div>
							</div>
						</li>
					}
					<li class="list-group-item " style=" background-color:#65C26F;">
						<div class="row container">
							<div class="col-6">
								<h5 class="text-white">TOTAL </h5>
							</div>
							<div class="col-6 text-end">
								<h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("c")</h5>
							</div>
						</div>
					</li>
				</ul>

				@if (Model.OrderHeader.OrderStatus != SD.StatusRefunded &&
						Model.OrderHeader.OrderStatus != SD.StatusCancelled &&
						Model.OrderHeader.OrderStatus != SD.StatusShipped)
				{
					<input type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-3" value="Cancel Order" />
				}
			</div>
		</div>
	</div>
</form>




@section Scripts{
    <partial name="_ValidationScriptsPartial" />
<script>
	function validateInput(){
		if(document.getElementById("trackingNumber").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Oops...',
			  text: 'Please enter tracking number!',
			});
			return false;
		}
		if(document.getElementById("carrier").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Oops...',
			  text: 'Please enter carrier!',
			});
			return false;
		}
		return true;
	}
</script>

}